.story {
  width: 120px;
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 17px -70px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}
